<%- include("partials/header"); -%>

<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img" style="background-image: url(img/bg-img/45.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">You Care About <br> Your Family</h2>
                                <p data-animation="fadeInUp" data-delay="300ms">“You're a busy family. We get it and
                                    we're here to help - without sacrificing your desire to provide your family with
                                    home cooking.”</p>
                                <a href="#" class="btn akame-btn" data-animation="fadeInUp" data-delay="500ms">About
                                    Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img" style="background-image: url(img/bg-img/46.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">You Don't Need <br> To Be A Super Hero
                                </h2>
                                <p data-animation="fadeInUp" data-delay="300ms">“But you will feel like one when you
                                    serve delicious home cooked meals to your family. Best of all - you know everything
                                    that was put into the meal.”</p>
                                <a href="#" class="btn akame-btn active" data-animation="fadeInUp"
                                    data-delay="500ms">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img" style="background-image: url(img/bg-img/47.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Let Us Do <br> The Heavy Lifting</h2>
                                <p data-animation="fadeInUp" data-delay="300ms">“While you enjoy a social cooking
                                    experience. We take care of everything else - including the clean-up!”</p>
                                <a href="#" class="btn akame-btn active" data-animation="fadeInUp"
                                    data-delay="500ms">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->

<!-- About Area Start -->
<section class="akame-about-area section-padding-80-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Section Heading -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="section-heading mb-80">
                    <h2>Heather's Kitchen</h2>
                    <p>A social cooking experience.</p>
                    <span>About Us</span>
                </div>
            </div>

            <!-- About Us Thumbnail -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-thumbnail mb-80">
                    <img src="img/bg-img/48.jpg" alt="">
                </div>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-lg-4">
                <div class="about-us-content mb-80 pl-4">
                    <h3>Great food comes from the heart.</h3>
                    <p>“Preparing home cooked meals does need to be a chore. Grab some friends and do all the fun parts
                        of cooking - leave the cleaning to us. For those times when your family's hectic schedule
                        gets the best of you, just pull out one of your Heather's Kitchens prepared
                        meals.”</p>
                    <a href="#" class="btn akame-btn active mt-30">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->

<!-- Why Choose Us Area Start -->
<section class="why-choose-us-area bg-gray section-padding-80-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="choose-us-thumbnail mt-30 mb-80">
                    <div class="choose-us-img bg-img" style="background-image: url(img/bg-img/49.jpg);"></div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Why Choose Us</h2>
                    <p>Providing your family with delicious and nutritious meals is important to you. You simply choose
                        the meals from our menu and rediscover the jys of cooking in our beautiful kitchen. We take care
                        of all the rest.</p>
                </div>
                <!-- Choose Us Content -->
                <div class="choose-us-content mt-30 mb-80">
                    <ul>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Beautiful clean modern kitchens.
                        </li>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Top quality ingredients.</li>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Delicious meals.
                            Your family will love them - Guaranteed.</li>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Rediscover your joy of cooking. It
                            is even better with friends.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Area End -->

<!-- Portfolio Area Start -->
<section class="akame-portfolio section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Menu</h2>
                    <p>This is but a small sample of the types of meals you can choose from.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="portfolio-menu text-center mb-30">
                    <button class="btn active" data-filter="*">All</button>
                    <button class="btn" data-filter=".meat">Meat</button>
                    <button class="btn" data-filter=".vegetables">Vegetables</button>
                    <button class="btn" data-filter=".sides">Sides</button>
                    <button class="btn" data-filter=".vegetarian">Vegetarian</button>
                </div>
            </div>
        </div>

        <div class="row akame-portfolio-area">
            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-3 akame-portfolio-item vegetables mb-30 wow fadeInUp"
                data-wow-delay="200ms">
                <div class="akame-portfolio-single-item">
                    <img src="img/bg-img/52.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Vegetable Jambalaya</h4>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="img/bg-img/52.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 akame-portfolio-item meat mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="akame-portfolio-single-item">
                    <img src="img/bg-img/50.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Sesame Chicken</h4>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="img/bg-img/50.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-lg-3 akame-portfolio-item sides mb-30 wow fadeInUp" data-wow-delay="400ms">
                <div class="akame-portfolio-single-item">
                    <img src="img/bg-img/53.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Oven Roast Potatoes</h4>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="img/bg-img/53.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-3 akame-portfolio-item vegetarian mb-30 wow fadeInUp"
                data-wow-delay="500ms">
                <div class="akame-portfolio-single-item">
                    <img src="img/bg-img/54.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Kung Pao Chickpea</h4>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="img/bg-img/54.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-3 akame-portfolio-item meat mb-30 wow fadeInUp" data-wow-delay="600ms">
                <div class="akame-portfolio-single-item">
                    <img src="img/bg-img/51.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Mongolian Beef</h4>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="img/bg-img/51.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="view-all-btn mt-30 text-center">
                    <a href="portfolio.html" class="btn akame-btn">View Full Menu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Area End -->



<%- include("partials/footer"); -%>